{% extends "main/header.html" %}

{% block content %}

<div class="container">

	<br>

	<div class = "card-panel white">
		<h3 class = "center-align">
			정기 외출
		</h3>

	

	<div class = "row">
		<div class = "center-align">
			<a class="waves-effect waves-teal btn-flat modal-trigger" href="#modal1">Help</a>
		</div>
	</div>
	
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4>Help</h4>
			<p>This webapp automatically does 외출 신청 for you every Monday. Just enter your login information for going.hafs.hs.kr, and select your 외출 날짜 and 복귀 날짜.</p>
			<p>Some things to remember:</p>
			<ul>
					<li>Make sure your 복귀 일자 is later than your 외촐 일자.</li>
					<li>Make sure the time for each day is valid. (ex. 금요일에는 19시 이후에만 외출 가능, 일요일에는 23시 이전에 복귀 필요)</li>
					<li>THIS APP WILL KEEP RUNNING IF YOU LEAVE IT ON. REMEMBER TO TURN IT OFF AFTER YOU GRADUATE, ETC.</li>
				</ul>

		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>

	<form method="POST">

		{% csrf_token %}

		{{ form.non_field_errors }}
		<div class = "row">
			<div class = "col s6">
				<div class="fieldWrapper">
					{{ form.student_id.errors }}
					<label for="{{ form.student_id.id_for_label }}">학번:</label>
					{{ form.student_id }}
				</div>
			</div>

			<div class = "col s6">
				<div class="fieldWrapper">
					{{ form.student_pass.errors }}
					<label for="{{ form.student_pass.id_for_label }}">going.hafs.hs.kr 비번:</label>
					{{ form.student_pass }}
				</div>
			</div>

		</div>

		<div class = "row">

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.out_day.errors }}
					<label for="{{ form.out_day.id_for_label }}">Out Day:</label>
					
					{{ form.out_day }}
				</div>
			</div>

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.out_hour.errors }}
					<label for="{{ form.out_hour.id_for_label }}">Out Hour:</label>
					{{ form.out_hour }}
				</div>
			</div>

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.out_minute.errors }}
					<label for="{{ form.out_minute.id_for_label }}">Out Minute:</label>
					{{ form.out_minute }}
				</div>
			</div>
		</div>
		
		<div class = "row">

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.return_day.errors }}
					<label for="{{ form.return_day.id_for_label }}">Return Day:</label>
					{{ form.return_day }}
				</div>
			</div>

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.return_hour.errors }}
					<label for="{{ form.return_hour.id_for_label }}">Return Hour:</label>
					{{ form.return_hour }}
				</div>
			</div>

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.return_minute.errors }}
					<label for="{{ form.return_minute.id_for_label }}">Return Minute:</label>
					{{ form.return_minute }}
				</div>
			</div>
		</div>		

		<div class = "row">
			{% if not is_active %}
				<button style="background-color:#00b043; color:black" class="waves-effect waves-light btn-large center-align" type="submit"><i class="material-icons left">play_arrow</i>Start</button>
			{% else %}
				<p>
				수정을 위해서는 자동등록을 멈추고 수정해주시기 바랍니다.
			</p>
				<button style="background-color:#ff9999; color:black" class="waves-effect waves-light btn-large center-align" type="submit"><i class="material-icons left">stop</i>Stop</button>
			{% endif %}
		</div>

	</form>

</div>

	
	<br><br><br>

</div>


{% endblock %}