{% extends "main/header.html" %}

{% block content %}

<div class="container">

	<br>

	<div class = "card-panel white">
		<h3 class = "center-align">
			정기 외출
		</h3>

	

	<div class = "row">
		<div class = "center-align">
			<a class="waves-effect waves-teal btn-flat modal-trigger" href="#modal1">--> 도움말<--</a>
		</div>
	</div>
	
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4>도움말</h4>
			<p>
				이 앱은 정기외출신청을 매주 까먹어서 급식비를 날리는 당신을 위해, going.hafs.hs.kr 로그인 정보를 입력하기만 하면 매주 자동으로 외출 신청이 되는 앱입니다.
			</p>
			<h5>
				사용 방법
			</h5>
			<p>
				1. 학번, 비밀번호 칸에 <strong><u>going.hafs.hs.kr 로그인 정보</u></strong>를 입력합니다. (로그인 정보는 사이트 특성상 암호화가 되지 않고 저장이 됩니다. 이 점이 불편하신 분들은 사용을 삼가해주시기 바랍니다.)
			</p>
			<p>
				2. 외출일자, 복귀일자를 선택합니다. <strong><u>이때 외출 신청 가능 기간이 아닌 시간대 (예: 금요일 19시 이전, 일요일 23시 이후)를 선택하면 외출 신청이 되지 않습니다.</u></strong>
			</p>
			<p>
				3. 자동 외출 횟수를 입력합니다. 예를 들어 "5"를 입력하면 5주 연속으로 자동 외출이 됩니다. 
			</p>
			<p>
				4. Start버튼을 눌러줍니다. 이제부터 입력한 횟수만큼 월요일 밤 11시에 자동으로 외출 신청이 될 겁니다. 
			</p>
			<p>
				5. 자동 외출 신청을 끄고싶거나 외출 시간대를 수정하고 싶다면, Stop버튼을 눌러줍니다.
			</p>
			<h5>주의 사항:</h5>
			<p>
				- 이 사이트의 로그인 정보 (비밀 번호 등)은 암호화되어 개발자를 포함한 그 누구에게도 알려지지 않습니다. <strong><u>그러나, going.hafs.hs.kr의 로그인 정보는 사이트 특성상 암호화가 되지 않고 저장이 됩니다. 이 점이 불편하신 분들은 사용을 삼가해주시기 바랍니다.</u></strong>
			</p>
			<p>
				- 외출일자나 시간 설정을 잘못해서 외출 신청이 되지 않아 생긴 불이익은 사용자 책임입니다.
			</p>
			<p>
				- Start 버튼을 켜놓으면, 무조건 매주 월요일에 주말 외출 신청이 됩니다. 이로 인한 불이익은 사용자 책임입니다. 
			</p>
			<p>
				- 이 사이트로 접속하는 로그인 비밀번호를 까먹으면, 개발자에게 연락을 주세요. 아직 "비밀번호를 잊으셨습니까?" 기능을 추가하지 않았습니다... ㅠ
			</p>
			<p>
				- <strong><u>Heroku 특성상, 서버 재시작으로 인해 아주아주아주아주아주 가끔씩 외출 신청이 자동으로 되지 않을 수도 있습니다! 따라서 꼭 외출 신청을 해야 하는 날이라면 반드시 직접 해주시길 바랍니다!</u></strong>
			</p>

			<h5>감사합니다. </h5>

		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>

	<form method="POST">

		{% csrf_token %}

		{{ form.non_field_errors }}
		<div class = "row">
			<div class = "col s6">
				<div class="fieldWrapper">
					{{ form.student_id.errors }}
					<label for="{{ form.student_id.id_for_label }}">학번:</label>
					{{ form.student_id }}
				</div>
			</div>

			<div class = "col s6">
				<div class="fieldWrapper">
					{{ form.student_pass.errors }}
					<label for="{{ form.student_pass.id_for_label }}">going.hafs.hs.kr 비번:</label>
					{{ form.student_pass }}
				</div>
			</div>

		</div>

		<div class = "row">

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.out_day.errors }}
					<label for="{{ form.out_day.id_for_label }}">외출 요일:</label>
					
					{{ form.out_day }}
				</div>
			</div>

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.out_hour.errors }}
					<label for="{{ form.out_hour.id_for_label }}">외출 시:</label>
					{{ form.out_hour }}
				</div>
			</div>

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.out_minute.errors }}
					<label for="{{ form.out_minute.id_for_label }}">외출 분:</label>
					{{ form.out_minute }}
				</div>
			</div>
		</div>
		
		<div class = "row">

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.return_day.errors }}
					<label for="{{ form.return_day.id_for_label }}">귀교 요일:</label>
					{{ form.return_day }}
				</div>
			</div>

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.return_hour.errors }}
					<label for="{{ form.return_hour.id_for_label }}">귀교 시:</label>
					{{ form.return_hour }}
				</div>
			</div>

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.return_minute.errors }}
					<label for="{{ form.return_minute.id_for_label }}">귀교 분:</label>
					{{ form.return_minute }}
				</div>
			</div>
		</div>		

		<div class = "row">

			<div class = "col s4">
				<div class="fieldWrapper">
					{{ form.leave_number.errors }}
					<label for="{{ form.return_day.id_for_label }}">자동 외출 횟수:</label>
					{{ form.leave_number }}
				</div>
			</div>

		</div>

		<div class = "row">
			{% if not is_active %}
				<button style="background-color:#00b043; color:black" class="waves-effect waves-light btn-large center-align" type="submit"><i class="material-icons left">play_arrow</i>Start</button>
			{% else %}
			<p>
				매주 월요일 23시에 자동으로 정기 외출 신청이 되고 있습니다.
			</p>
			<p>
				수정을 위해서는 자동등록을 멈추고 수정해주시기 바랍니다.
			</p>
				<button style="background-color:#ff9999; color:black" class="waves-effect waves-light btn-large center-align" type="submit"><i class="material-icons left">stop</i>Stop</button>
			{% endif %}
		</div>

	</form>

</div>

	
	<br><br><br>

</div>


{% endblock %}